@import '../../../scss/';
.ui.form.add-album-form {
    .fields {
        margin: 0 !important;
        .album-avatar {
            position: relative;
            background-color: $background-gray-light;
            height: 150px;
            width: 100px;
            width: 100%;
            padding: 0 !important;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .avatar {
                position: absolute;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: inherit;
            }
        }
    }
    .album-inputs {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}