@import '../../scss/';
.settings {
    margin: 50px 100px 0 100px;
    >h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    .avatar-name {
        display: flex;
        align-items: center;
        .upload-avatar {
            display: table;
            margin: 0 !important;
            border: 2px solid #9a9a9a;
            border-radius: 100px;
            border-style: dashed;
            padding: 10px;
            .ui.image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }
}