@import '../../../scss/';
.ui.vertical.menu-left.menu {
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    background-color: $background-gray-dark;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    .item,
    a.item {
        color: $font-light;
        font-weight: bold;
        font-size: 14px;
        border-left: 4px solid transparent;
        width: 100%;
        &:hover,
        &:active {
            color: $font-gray;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        &:active {
            border-color: $primary-color;
        }
    }
    .footer {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}