@import '../../scss';
.player {
    color: $font-gray;
    position: relative;
    height: 100%;
    background-color: $background-gray-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .ui.grid {
        width: 100%;
        margin: 0;
    }
    .left {
        display: flex !important;
        align-items: center;
        font-size: 16px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        img {
            width: 100px;
            height: 70px;
            border-radius: 5px;
            margin-right: 10px;
        }
    }
    .center {
        .controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            i {
                font-size: 35px;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &.redo,
                &.undo {
                    font-size: 25px;
                }
                &:hover {
                    color: $font-light;
                }
            }
        }
        .semantic_ui_range_inner {
            div {
                &:first-of-type {
                    background-color: $background-gray!important;
                }
            }
        }
    }
    .right {
        display: flex !important;
        justify-content: flex-end;
    }
}