@import '../../scss/';
.albums {
    margin: 50px;
    >h1 {
        border-bottom: 1px solid $border-gray-light;
        margin-bottom: 50px;
        padding-bottom: 10px;
        font-size: 1.5em;
    }
}